@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Open+Sans&family=Roboto&family=Sacramento&family=Permanent+Marker&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --bgcolor: #f0f0f0;
  --tcolor: #121212;
  --blue: #4285f4;
  --blue-100: #bbdefb;
  --red: #ea4335;
  --yellow: #fbbc05;
  --green: #34a853;
}
body,#root{
  font-family: 'Permanent Marker', Cabin, cursive, sans-serif;
  font-size: 1rem;
  background-color: var(--bgcolor);
  color: var(--tcolor);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  line-height: 1.5rem;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.game-form-content{
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.game-form-title{
  font-size: 6rem;
  color: var(--red);
  width: 100%;
  height: 33%;
  padding: 5rem 0 0 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.game-form-groups{
  font-size: 3rem;
  color: var(--blue);
  width: 75%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.game-form-group{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  cursor: url("./images/circle.png"),pointer;
}
.game-form-group>*{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.game-form-image{
  width: 100px;
  height: 100px;
}
.game-form-tick-image{
  height: 50px;
  width: 50px;
  margin: 0 1rem 0 0;
}
.game-form-button{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-form-button button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font: inherit;
  font-size: 1.75rem;
  font-family: Cabin, sans-serif;
  background-color: var(--bgcolor);
  color: var(--red);
  border: 5px solid var(--blue);
  border-radius: 500px;
  outline: none;
  transition: all 200ms ease-in-out;
}
.game-form-button button:hover{
  cursor: pointer;
  background-color: var(--blue-100);
  border: 5px solid var(--blue-100);
}
.grid{
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.cell{
  width: 200px;
  height: 200px;
  border: 5px solid var(--blue);
}
.cell:nth-child(1){
  border-top: none;
  border-left: none;
}
.cell:nth-child(2){
  border-top: none;
}
.cell:nth-child(3){
  border-top: none;
  border-right: none;
}
.cell:nth-child(4){
  border-left: none;
}
.cell:nth-child(6){
  border-right: none;
}
.cell:nth-child(7){
  border-bottom: none;
  border-left: none;
}
.cell:nth-child(8){
  border-bottom: none;
}
.cell:nth-child(9){
  border-bottom: none;
  border-right: none;
}
.circle,.cross{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle::before{
  content: '';
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: var(--blue);
  border-radius: 50%;
  z-index: 5;
}
.circle::after{
  content: '';
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: var(--bgcolor);
  border-radius: 50%;
  z-index: 10;
}
.cross::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 150px;
  background-color: var(--red);
  transform: rotate(45deg);
}
.cross::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 150px;
  background-color: var(--red);
  transform: rotate(-45deg);
}
.game-frame{
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 10px;
  background: linear-gradient(90deg ,var(--green) 4%,var(--blue) 0%) top/100% 34% no-repeat,linear-gradient(90deg ,var(--yellow) 50%,var(--blue) 0%) top/100% 82% no-repeat,linear-gradient( 90deg ,var(--yellow) 10%,var(--red) 0%) top/100% 100%;
  box-shadow: 0 10px 15px rgb(60 64 67 / 30%);
}
.game-box{
  position: relative;
  height: 99%;
  width: 99%;
  padding: 0;
  border-radius: 10px;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  transition: background 0.5s;
  overflow: hidden;
}
.game-over-text{
  width: 100%;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  color: var(--red);
}
.game-over-result{
  width: 100%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  color: var(--green);
}
::-webkit-scrollbar{
  width: 8px;
  background-color: var(--scroll-100);
  border: 4px solid transparent;
}
::-webkit-scrollbar-track{
  background-color: var(--scroll-100);
}
::-webkit-scrollbar-thumb{
  background-color: var(--scroll-400);
  border-radius: 500px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--scroll-700);
}
@media (min-width: 768px) and (max-width: 991.98px){
  .game-frame{
    height: 75%;
  }
  .game-form-groups{
    flex-flow: column;
  }
  .game-form-group{
    width: 100%;
  }
  .game-over-text{
    font-size: 5rem;
    margin: 3rem 0;
  }
  .game-over-result{
    font-size: 4rem;
  }
}
@media (max-width: 767.98px){
  .game-frame{
    height: 75%;
  }
  .game-form-title{
    font-size: 3rem;
    padding: 0;
    justify-content: center;
  }
  .game-form-groups{
    width: 100%;
    flex-flow: column;
    font-size: 2rem;
    padding: 0;
  }
  .game-form-group{
    width: 100%;
    margin: 1rem 0;
  }
  .game-form-image{
    width: 50px;
    height: 50px;
  }
  .game-form-tick-image{
    height: 25px;
    width: 25px;
    margin: 0 0.5rem 0 0;
  }
  .game-form-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    font: inherit;
    font-size: 1.5rem;
    font-family: Cabin, sans-serif;
    background-color: var(--bgcolor);
    color: var(--red);
    border: 3px solid var(--blue);
    border-radius: 500px;
    outline: none;
    transition: all 200ms ease-in-out;
  }
  .game-form-button button:hover{
    cursor: pointer;
    background-color: var(--blue-100);
    border: 3px solid var(--blue-100);
  }
  .grid{
    height: 300px;
    width: 300px;
  }
  .cell{
    width: 100px;
    height: 100px;
  }
  .cross::before{
    width: 7.5px;
    height: 75px;
  }
  .cross::after{
    width: 7.5px;
    height: 75px;
  }
  .game-over-text{
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  .game-over-result{
    font-size: 2rem;
    margin: 1rem 0;
  }
}